body{
	font-family: 'PT serif', 'sans-serif';
	color:black;
	
}

p{
	font-family: 'Raleway', 'Helvetica' 'sans-serif';
}
h3{
	font-weight:600;
	font-size:2.5rem;
}
ul,ol{
	padding: 0;
	list-style-type: none;
}
.ex{
	padding: 0 20px 0 0 ;
}

h1{
	color: black;
	font-weight:700;
}

a{
	color:black;
}

.name{
	text-align: center;
	padding-right:30px;
}
.name h1{
	font-size:5rem;
}
.example{
	margin-top:0;
	font-weight:600;
	font-size:4rem;
}
.stars{
	margin:30px 0px 20px 0;
}

.stars{
	font-weight:300;
	font-family: "Raleway", sans-serif ;
	font-size:2.5rem;
}

.languages{
	font-style:italic;
}